body{
    font-size: 14px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.2rem;
    flex-direction: column;
}


.form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 1rem;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}